$primary:       #022148;
$secondary:     #F85E11;
$orange-light:  #F88311;
$orange:        #F83811;
$gray-100:      #D1D1D1;
$gray-200:      #F5F6FA;
$border:        #35537A;


.flex-center {
    align-items: center;
    justify-content: center;
}

.mb-100 {
    margin-bottom: 100px;
}

.text-right {
    text-align: right !important;
}

.w-70 {
    width: 70% !important;
}

.border-none {
    border: none !important;
}