@font-face {
    font-family: Glitch Inside;
    src: url(../fonts/Glitch-inside.otf);
}

@font-face {
    font-family: Ichiji One;
    src: url(../fonts/Ichiji-One.otf);
}

@font-face {
    font-family: Ichiji Two;
    src: url(../fonts/Ichiji-Two.otf);
}

@font-face {
    font-family: behanschrift;
    src: url(../fonts/BAHNSCHRIFT.TTF);
}