html, body {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-image: url(../images/background/body-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none !important;
    color: $secondary !important;
    font-size: 25px;
    transition: .3s ease-in-out;
    font-family: behanschrift;
    &:hover {
        color: $orange !important;
    }
}


li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px; //Needed scrollbar thumb width to be 7px, so had to define whole scrollbar to be 7px wide.
  };
  
 ::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 10px;
  };
  
::-webkit-scrollbar-track {
    background: $gray-100;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: padding-box;
  };

// header

.header-white {
    padding: 34px 100px;
    background: $gray-200;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
}

.btn {
    &-gray-100 {
        background-color: $gray-100 !important;   
       }
}

.banner {
    display: flex;
    justify-content: center;
    padding: 120px 330px;
}

.text {
    font-size: 31px;
    font-family: behanschrift;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    &-small {
        font-size: 25px;
        font-family: behanschrift;
        text-transform: uppercase;
        color: #fff;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
    }
}

.btyb {
    position: relative;
    left: 18%;
}

.association {
    position: relative;
    right: 0;
    width: 100%;
    justify-content: end;
}

.flag {
    margin: 0 20px;
}

.btn-gradient {
    background: $orange-light;
    background: linear-gradient(45deg, $orange-light 0%, $orange 100%);
    padding: 30px 124px !important;
    font-family: behanschrift !important;
    font-size: 28px !important;
    color: #fff !important;
    border-radius: 5px !important;
}

.padding-x {
    padding-left: 100px;
    padding-right: 100px;
}

.padding-y {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding {
    padding: 100px;
}

.left-shape {
    position: absolute;
    top: 62%;
    &-ring {
        position: absolute;
        left: -7%;
        bottom: -142%;
    }
    &-triangle {
        position: absolute;
        left: -5%;
        bottom: -463%;
    }
}

.right-shape {
    position: absolute;
    top: 62%;
    right: -10%;
    &-square {        
        position: absolute;
        right: -7%;
        bottom: -397%;
        height: 70%;
        img {
            height: 100%;
        }
    }

    &-semicircle {
        position: absolute;
        right: -7%;
        bottom: -590%;
        height: 70%;
    }
}

.icon-heading {
    padding: 8px 21px ;
    border-radius: 12px;
    border: 1px solid $border;
    width: fit-content;
}

.icon-wrapp {    
    position: relative;
    top: 27px;
    z-index: 9;
}

.bg-glass {
    backdrop-filter: blur(24px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(24px) saturate(181%) !important;
    background-color: rgba(255, 255, 255, 0.05) !important;
}
.border-glass {
    border: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.reason-wrapp {
    padding: 86px 192px;
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.glitch-text {
    font-size: 59px;
    font-family: Glitch Inside;
    text-transform: uppercase;
    color: #fff;
    line-height: 80px;
}

.reasons {
    padding: 100px 100px 0;
    li {
        font-size: 25px;
        font-family: behanschrift;
        color: #fff;
        line-height: 50px;
        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f054";
            font-size: 15px;
            margin-right: 15px;
        }
    }
}

.category {
    position: relative;
    z-index: 9;
    &-box {
        padding: 45px;
        border-radius: 34px;
    }
    &-wrapp {        
        height: 540px;
        overflow-y: scroll;
    }

    &-item {
        padding: 25px;
        border-radius: 5px;
    }

    &-text {
        font-family: behanschrift;
        font-size: 24px;
        color: #fff;
        text-align: left;
        margin-bottom: 0;
    }
}

.title {
    font-family: behanschrift;
    font-weight: bold;
    font-size: 65px;
    letter-spacing: 40px;
    line-height: 91px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin: 0;

    &::before {
        display: inline-block;
        content: "";
        border: 2px solid #F85E11;
        width: 100px;
        transform: translateY(-1rem);
        border-radius: 5px;
        position: absolute;
    }

    &-small {
        font-family: behanschrift;
        font-weight: bold;
        font-size: 45px;
        letter-spacing: 40px;
        line-height: 63px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
    }
}

.sub-title {
    font-size: 25px;
    color: #fff;
    opacity: 0.7;
    font-family: behanschrift;
    line-height: 40px;
}

.sub-text {
    color: #fff;
    font-size: 35px;
    font-family: behanschrift;
    line-height: 49px;
    text-align: center;
}

.gradient-text {
    font-size: 140px;
    font-family: Ichiji One;    
    background: linear-gradient(to bottom, $orange-light, $orange); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

.text-wrapp {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar, .leader, .partner, .community {
    position: relative;
    z-index: 9;
    &-box {
        padding: 10px;
        border-radius: 10px;
    }
}

.category-item {
    margin-bottom: 25px;
}

.task {
    &-title {
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        font-family: Ichiji One;
        color: #fff;
        margin-bottom: 30px;
        &::before {
            content: "";
            width: 17px;
            border: 2px solid $secondary;
            margin-right: 15px;
            border-radius: 5px;
        }
    }
}

.uppertext {
    font-size: 14px;
    line-height: 20px;
    font-family: behanschrift;
    color: $secondary;
    margin-bottom: 0;
    &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: $secondary;
        margin-right: 15px;
    }
}

.main-text {
    margin-left: 25px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: behanschrift;
}

.img-box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.leader {
    &-info {
        p {
            font-family: behanschrift;
            font-size: 15px;
            line-height: 21px;
            color: #fff;
            opacity: 0.6;
            margin: 0;
        }
    }

    &-name {
        font-size: 25px;
        line-height: 31px;
        text-transform: uppercase;
        font-family: Ichiji Two;
        color: #fff;
        margin-bottom: 15px;
        opacity: 1;
    }
}

.section-title {
    margin-bottom: 80px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    border-radius: 10px;
}

.bg-glass-white {
    backdrop-filter: blur(24px) saturate(180%);
    -webkit-backdrop-filter: blur(24px) saturate(181%);
    background-color: rgba(255, 255, 255, 0.7);
}

.join-form {
    padding: 65px;
    border-radius: 10px;
}

.form-control {
    background: transparent !important;
    border: none !important;
    font-size: 20px !important;
    color: #fff !important;
    font-family: behanschrift;
    &::placeholder {
        opacity: 0.5 !important;
    }
    &:focus {
        box-shadow: none !important;
    }
}

.input-group {
    backdrop-filter: blur(24px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(24px) saturate(181%) !important;
    background-color: rgba(255, 255, 255, 0.05) !important;
    border: none !important;
    border-radius: 5px;
    padding: 15px 20px;
    &-text {
        background: transparent !important;
        border: none !important;
    }
}

.form-label {
    font-size: 20px;
    font-family: behanschrift;
    color: #fff;
}

.btn-secondary {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    font-size: 20px !important;
    color: #fff !important;
    border-radius: 5px !important;
    font-family: behanschrift;
}

.accept {
    font-size: 18px;
    font-family: behanschrift;
    color: #fff;
    opacity: 0.5;
}

.accordion {
    &-item {
        margin-bottom: 20px;
        border-radius: 10px;
        &:first-of-type, &:last-of-type {
            border-radius: 10px;
        }
    }
    
    &-button {
        box-shadow: none !important;
        font-size: 35px;
        font-family: behanschrift;
        color: #fff;
        line-height: 59px;
        &::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            color: #fff;
            background-image: none;
            display: flex;
            align-items: center;
            font-size: 22px;
        }
        &:not(.collapsed) {
            color: #fff;
            &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: #fff;
                background-image: none;
                display: flex;
                align-items: center;
                font-size: 22px;
            }
        }
    }

    &-body {
        font-size: 30px;
        line-height: 59px;
        font-family: behanschrift;
        color: #fff;
        opacity: 0.6;
    }
}


.form-wrapp {
    padding: 125px 60px;
    border-radius: 34px;
}

.newsletter-text {
    font-size: 55px;
    color: #fff;
    font-family: behanschrift;
}

.nav-text {
    padding: 40px;
    font-size: 25px;
    color: #fff !important; 
    font-family: behanschrift;
    transition: .3s ease-in-out;
    &:hover {
        color: $secondary !important;
    }
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
}